.call-to-action .main-content {
    padding: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;

    &_position {
        z-index: 2;
        position: relative;
        margin: 0 auto;
        padding: 0;
    }

    &__overlay {
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.call-to-action .main-content span {
    color: #f48840;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.call-to-action .main-content h4 {
    margin-bottom: 0px;
    margin-top: 12px;
    color: #fff;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.25px;
}

.call-to-action .main-content .main-button {
    text-align: right;
    margin-top: 12px;
}

.main-content_attachment {
    background-attachment: fixed;
}

.call-to-action_size {
    height: 320px;
}

.call-to-action_height {
    height: inherit;
}

@media (max-width: 992px) {
    .call-to-action {
        text-align: center;
    }

    .call-to-action .main-content .main-button {
        text-align: center;
        margin-top: 30px;
    }
}